# Logs
logs
*.log

# Dependency directories
node_modules/
jspm_packages/

# Build output
dist/
build/
out/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Miscellaneous
.DS_Store
Thumbs.db
